/*===============================Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-padding-top: 2rem;
	scroll-behavior: smooth;
}

/*===============================Some Variables */
:root {
	--green-color: #3cb815;
	--light-green-color: #c0eb7b;
	--orange-color: #ff7e00;
	--light-orange-color: #f75f1d;
	--text-color: #1a2428;
	--bg-color: #fff;
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
	width: 0.3rem;
	background:var(--light-green-color);
}

::-webkit-scrollbar-thumb {
	width: 0.3rem;
	background: var(--green-color);
	border-radius: 5rem;
}

section {
	padding: 4.5rem 0 1.5rem;
}

img {
	width: 100%
}

body {
	color: var(--text-color);
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-color);
	border-bottom: 2.5px solid #3cb815;
	padding: 20px 100px;
	transition: 0.5s;
}

.profile {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	cursor: pointer;
}

.profile img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

.profile span {
	font-size: 13px;
	font-weight: 500;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 1.1rem;
	font-weight: 600;
	color: var(--text-color);
	column-gap: 0.5rem;
}

.logo .bx {
	font-size: 24px;
	color: var(--orange-color);
}

.navbar {
	display: flex;
	column-gap: 0.5rem;
}

.navbar a {
	font-size: 1rem;
	font-weight: 500;
	color: var(--text-color);
	padding: 0.5rem 1rem;
}

.navbar a:hover,
.navbar .home-active {
	background: var(--green-color);
	border-radius: 5rem;
	color: var(--bg-color);
	transition: 0.3s ease-in-out;
}

.navbar .home-active {
	background: var(--green-color);
	color: var(--bg-color);
	border: 2px solid;
	border-color: #3cb815;
	transition: 0.3s ease-in-out;
	border-radius: 5rem;
}

.navbar .home-active:hover {
	background: transparent;
	color: var(--green-color);
	border: 2px solid;
	border-color: #3cb815;
	transition: 0.3s ease-in-out;
	border-radius: 5rem;
}

#menu-icon {
	font-size: 24px;
	cursor: pointer;
	z-index: 10001;
	display: none;
}

/* SLIDE 1 */

.container {
	position: relative;
	width: 100%;
	min-height: 461px;
	display: flex;
	align-items: center;
	background: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.container img {
	width: 400px;
	position: absolute;
	bottom: -500px;
	right: 200px;
}

.home-text {
	padding: 200px 200px;
}

.home-text span {
	font-weight: 400;
	text-transform: uppercase;
	color: var(--bg-color);
}

.home-text h1 {
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: var(--bg-color);
}
/* SLIDE 2 */

.container__02 {
	position: relative;
	width: 100%;
	min-height: 461px;
	display: flex;
	align-items: center;
	background: url(images/bg_02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.home-text__02 {
	padding: 200px 200px;
}

.home-text__02 span {
	font-weight: 400;
	text-transform: uppercase;
	color: var(--bg-color);
}

.home-text__02 h1 {
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: var(--bg-color);
}

.btn__02 {
	padding: 0.6rem 1rem;
	border-color: #fff;
	border: 1px solid;
	color: var(--bg-color);
	font-weight: 400;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 0.5rem;
	max-width: 160px;
}

.btn__02 .bx {
	padding: 4px;
	background: var(--bg-color);
	color: #ff4e57;
	font-size: 20px;
	border-radius: 50%;
}

.btn__02:hover {
	background: #ff4e57;
	transition: 0.3s ease-in-out;
}
/* SLIDE 3 */

.container__03 {
	position: relative;
	width: 100%;
	min-height: 461px;
	display: flex;
	align-items: center;
	background: url(images/bg_02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.container__03 img {
	width: 400px;
	position: absolute;
	bottom: -500px;
	right: 200px;
}

.home-text__03 {
	padding: 200px 200px;
}

.home-text__03 span {
	font-weight: 400;
	text-transform: uppercase;
	color: var(--bg-color);
}

.home-text__03 h1 {
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: var(--bg-color);
}

.btn__03 {
	padding: 0.6rem 1rem;
	border-color: #fff;
	border: 1px solid;
	color: var(--bg-color);
	font-weight: 400;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 0.5rem;
	max-width: 160px;
}

.btn__03 .bx {
	padding: 4px;
	background: var(--bg-color);
	color: #ff4e57;
	font-size: 20px;
	border-radius: 50%;
}

.btn__03:hover {
	background: #ff4e57;
	transition: 0.3s ease-in-out;
}

/* SHOP NOW BUTTON */
.btn {
	padding: 0.6rem 1rem;
	border: 1px solid;
	color: var(--bg-color);
	font-weight: 400;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 0.5rem;
	max-width: 160px;
}

.btn .bx {
	padding: 4px;
	background: var(--bg-color);
	color: var(--green-color);
	font-size: 20px;
	border-radius: 50%;
}

.btn:hover {
	background: #8eba15;
	transition: 0.3s ease-in-out;
}
/* SHOP NOW BUTTON */
/* WHITE BUTTON */
.btn_02 {
	padding: 0.6rem 1rem;
	border: 1px solid;
	color: var(--green-color);
	font-weight: 400;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 0.5rem;
	max-width: 160px;
}

.btn_02 .bx {
	padding: 4px;
	background: var(--bg-color);
	color: var(--green-color);
	font-size: 20px;
	border-radius: 50%;
}

.btn_02:hover {
	padding: 0.6rem 1rem;
	border: 1px solid;
	color: var(--bg-color);
	background-color: var(--green-color);
	font-weight: 400;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 0.5rem;
	max-width: 160px;
	transition: 0.3s ease-in-out;
}
/* WHITE BUTTON */

.swiper-button-next {
	background: url(images/arrow_slides_right.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	margin-right: 40px;
	cursor: pointer;
}

.swiper-button-next::after {
	display: none;

}

.swiper-button-prev {
	background: url(images/arrow_slides_left.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	margin-left: 40px;
	cursor: pointer;
}

.swiper-button-prev::after {
	display: none;

}

.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heading h1 {
	font-size: 1.6rem;
	font-weight: 600;
}

.heading span {
	color: var(--green-color);
}

.categories {
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
}

.categories-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, auto));
	gap: 1rem;
	row-gap: 2.5rem;
	margin-top: 2rem;
}

.categories-container .box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 0.5rem;
}

.categories-container .box img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.categories-container .box h2 {
	font-size: 1.3rem;
	font-weight: 600;
	color: #3cb815;

}

.categories-container .box span {
	font-size: 0.8rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.categories-container .box .bx {
	padding: 10px;
	background: var(--green-color);
	color: var(--bg-color);
	border-radius: 5rem;
	margin-top: 2rem;
	position: absolute;
	bottom: -8%;
	cursor: pointer;
}

.categories-container .box .bx:hover {
	scale: 130%;
	transition: 0.3s ease-in-out;
}

.categories-container .box:hover .bx {
	transition: 0.3s ease-in-out;
}

.box1 {
	background: #eeeeee;
}

.box2 {
	background: #eeeeee;
}

.box3 {
	background: #eeeeee;
}

.box4 {
	background: #eeeeee;
}

.box5 {
	background: #eeeeee;
}

/* PRODUKET ME CMIME */

.products {
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
}

.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, auto));
	gap: 1rem;
	margin-top: 2rem;
}

.products-container .box {
	padding: 20px;
	border-radius: 0.5rem;
	position: relative;
	border: 1px solid;
	border-color: #3cb815;
}

.products-container .box img {
	width: 100%;
	height: 200px;
	object-fit: contain;
	object-position: center;
}

.products-container .box span {
	font-weight: 400;
	font-size: 13px;
	color: #868a92;
}

.products-container .box h2 {
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: 0.5rem;
	color: var(--text-color);
}

.products-container .box .price {
	font-size: 1rem;
	font-weight: 600;
	margin-top: 0.5rem;
	color: #ff7e00;
}

.products-container .box .price span {
	color: var(--text-color);
}

.products-container .box .bx-cart-alt {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px;
	background: var(--green-color);
	font-size: 20px;
	border-radius: 0.5rem 0 0.4rem 0;
	color: var(--bg-color);
	cursor: pointer;
}

.products-container .box .bx-cart-alt:hover {
	background: var(--orange-color);
	transition: 0.2s all linear;
}

.products-container .box .bx-heart {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 20px;
	color: var(--light-orange-color);
}

.products-container .box .discount {
	position: absolute;
	top: 1rem;
	left: 0;
	background: var(--light-orange-color);
	color: var(--bg-color);
	padding: 6px 18px;
	border-radius: 0 2rem 2rem 0;
}

.about {
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(21rem, auto));
	align-items: center;
	gap: 1.5rem;
}

.about p {
	text-align: justify;
	margin: 0.5rem 0 1rem;
}

.about-text span {
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--green-color);
}

.about-text p {
	margin: 0.5rem 0 1rem;
}

.customers {
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
}

.customers h2 {
	text-align: center;
	font-size: 1.6rem;
	font-weight: 600;
}

.customers-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, auto));
	gap: 1.5rem;
	margin-top: 2rem;
	cursor: pointer;
}

.customers-container .box {
	padding: 20px;
	border-radius: 0.5rem;
	border: 1px solid;
	border-color: #3cb815;
	border-bottom: 9px solid var(--green-color);
}

.customers-container .box:hover {
	padding: 20px;
	border-radius: 0.5rem;
	border: 1px solid;
	border-color: #3cb815;
	scale: 102%;
	transition: 0.3s ease-in-out;
}

.customers-container .box .bx {
	font-size: 24px;
	color: var(--green-color);
}

.customers-container .box .stars .bx {
	font-size: 1rem;
	color: var(--light-orange-color);
}

.customers-container .box p {
	font-size: 0.938rem;
}

.review-profile {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	column-gap: 0.5rem;
}

.review-profile img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.review-profile h3 {
	font-size: 1rem;
	font-weight: 600;
}

/*============================================== FOOTER */

.footer {
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 1.5rem;
	margin-top: 2rem;
	background: #f6f6f6;
	border-radius: 0.5rem;
	padding: 20px;
}

.footer-box {
	display: flex;
	flex-direction: column;

}

.footer-box a {
	color: var(--text-color);
}

.footer-box a:hover {
	color: #868a92;
	transition: 0.3s ease-in-out;
}
/*========================================SHPORTA ICON */
.footer-box .bxs-basket {
	color: var(--orange-color);
}
.footer-box .bxs-basket:hover {
	color: #ffa850;
	transition: 0.3s ease-in-out;
}
/*========================================SHPORTA ICON */

.footer-box p {
	font-size: 0.938rem;
	margin: 0.5rem 0 1rem;
}

.social {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.social .bx {
	padding: 10px;
	background: var(--bg-color);
	color: var(--green-color);
	border-radius: 5rem;
	font-size: 20px;
}

.social .bx:hover {
	background: var(--green-color);
	color: var(--bg-color);
	transition: 0.6s ease-in-out;
	rotate: 360deg;
}

.footer-box h2 {
	font-size: 1.1rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.footer-box form {
	border-bottom: 1px solid var(--text-color);
	padding: 10px;
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.footer-box form input {
	background: transparent;
	border: none;
	outline: none;
}

/* Shigjeta tek emaili */
.footer-box form .bx {
	cursor: pointer;
}

.footer-box form .bx-right-arrow-alt {
	font-size: 20px;
	color: var(--light-orange-color);
	cursor: pointer;
}

.email {
	margin-left: 20px;
}

.footer-box form .bxs-envelope {
	color: var(--green-color);
}

.copyright {
	text-align: center;
	padding: 10px;
}

/* Making Responsive ============================================== */

@media (max-width: 1200px) {
	
	.categories,
	/* .container, */
	.about,
	.customers,
	.footer-out {
		padding: 50px 4%;
	}

	header {
		padding: 20px 50px;
	}

	.home-text,
    .home-text__02,
    .home-text__03 {
        padding: 100px 100px;
    }

	.home-text h1,
	.home-text__02 h1,
	.home-text__03 h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: var(--bg-color);
	}

	.container img,
	.container__02 img,
	.container__03 img{
		width: 250px;
	}
}
/* =============================================================== */
@media (max-width: 768px) {

	.categories,
	/* .container, */
	.about,
	.customers,
	.footer-out {
		padding: 50px 4%;
	}

	.home-text h1 {
		font-size: 2rem;
	}

	.home-text,
    .home-text__02,
    .home-text__03 {
        padding: 80px 40px;
    }

	.container img,
    .container__02 img,
    .container__03 img {
        width: 250px;
		height: auto;
    }

	.swiper-button-next,
	.swiper-button-prev {
		margin: 0;
	}
	.home-text {
		padding: 130px 70px;
	}
	.home-text__02 {
		padding: 130px 70px;
	}
	.home-text__03 {
		padding: 130px 70px;
	}
}
/* =============================================================== */
@media (max-width: 480px) {
	header {
		padding: 12px 4%;
	}
	#menu-icon {
		display: initial;
	}
	.navbar {
		position: absolute;
		top: -570px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		background: var(--bg-color);
		border-bottom: 2px solid;
		border-color: #3cb815;
		transition: 0.3s ease-in-out;
		text-align: left;
	}
	.navbar a {
		padding: 1rem;
		margin: 1rem;
		display: block;
	}

	.home-active_02 {
		border-radius: 5rem;

	}
	.navbar a:hover,
	.navbar .home-active {
		border-radius: 5rem;
		color: var(--bg-color);
	}
	.navbar.active {
		top: 100%;
	}
	.home-text h1 {
		font-size: 1.7rem;
	}
	.container img,
    .container__02 img,
    .container__03 img {
        width: 250px;
		height: auto;
    }
	.btn {
		padding: 0.6rem 1.2rem;
		max-width: 164px;
	}
	.products-container {
		grid-template-columns: repeat(auto-fit, minmax(244px, auto));
	}
}
/* =============================================================== */
@media (max-width: 712px) {
	#menu-icon {
		display: initial;
	}
	
	.container img,
    .container__02 img,
    .container__03 img {
        width: 250px;
		height: auto;
    }
	.heading h1 {
		font-size: 1.2rem;
	}
	.about {
		grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
	}
	.about img {
		order: 2;
	}
	.about-text {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.home-text {
		padding: 130px 50px;
	}
	.home-text__02 {
		padding: 130px 50px;
	}
	.home-text__03 {
		padding: 130px 50px;
	}
	.btn {
		max-width: 164px;
	}
	.customer h2 {
		font-size: 1.2rem;
	}
	.footer {
		grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
	}
}

/* Open Hand Cursor */
.swiper-wrapper {
	cursor: grab;
}
/* Closed Hand Cursor */
.swiper-wrapper:active {
	cursor: grabbing;
}